    /* body{
    background-image: url("logo.png");
    background-attachment :fixed;
    background-repeat:no-repeat;
}


header{
    background-attachment:scroll;
    background-clip:border-box;
    background-color:rgba(0, 0, 0, 0.6);
    background-image:none;
    background-origin:padding-box;
    background-position-x:0%;
    background-position-y:0%;
    background-size:auto;
    box-sizing:border-box;
    color:rgb(30, 215, 96);
    display:block;
    font-family:Circular, spotify-circular, Helvetica, Arial, sans-serif;
    font-size:16px;
    font-weight:400;
    height:80px;
    line-height:24px;
    min-height:54px;
    position:fixed;
    right:0px;
    text-size-adjust:100%;
    top:0px;
}
li {
    display:inline;
   
}

a {
    float: left;
    display: block;
    padding: 8px;
    text-align: center;
    text-decoration-line: none;
    color:rgb(255, 255, 255);
}
.feature{
    box-sizing:border-box;
    font-weight:700;
    height:80px;
    line-height:24px;
    list-style-image:none;
    list-style-position:outside;
    list-style-type:none;
    padding: 28px 17px;
    text-decoration-line:none;
    text-decoration-style:solid;
} 

.navigation{
    clear: left;
    float: right;
}
.brand{
    margin-bottom:0px;
    margin-left:174.6px;
    margin-right:174.6px;
    margin-top:0px;
    padding-bottom:15px;
    padding-left:15px;
    padding-right:15px;
    padding-top:15px;
    display: flex;
    float: left;
} */
    
    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }
    
    body {
        background-image: url("logo.png");
        background-attachment: fixed;
        font-family: Circular, Helvetica, Arial, sans-serif;
        font-size: 16px;
        line-height: 1.5;
    }
    
    nav {
        height: 80px;
        background-attachment: scroll;
        background-clip: border-box;
        background-color: rgba(0, 0, 0, 0.6);
        background-image: none;
        background-origin: padding-box;
        background-position-x: 0%;
        background-position-y: 0%;
    }
    
    header {
        height: 950px;
        /* background-color: orange;  */
    }
    
    footer {
        height: 600px;
        background-color: black;
    }
    
    .container {
        height: inherit;
        /* get parent height */
        width: 1170px;
        /* add 970px for smaller screen */
        margin: 0 auto;
        padding: 0 15px;
        display: flex;
    }
    
    .spotify-logo {
        width: 132px;
        height: 40px;
        margin: 20px 0;
    }
    
    nav ul {
        width: 484px;
        list-style-type: none;
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin-left: auto;
    }
    
    nav a {
        color: white;
        text-decoration: none;
    }
    
    nav li {
        font-weight: bold;
    }
    
    nav a:hover {
        color: #1db954;
    }
    
    #title {
        width: inherit;
        color: white;
        text-align: center;
        font-size: 80px;
        font-weight: 900;
        letter-spacing: -.04em;
        line-height: 1.15;
        margin-bottom: 20px;
    }
    
    header .container {
        flex-direction: column;
        justify-content: center;
    }
    
    .btn-spotify {
        width: 260px;
        margin: 0 auto;
        color: white;
        background-color: #1db954;
        padding: 18px 42px 18px;
        border: 0px;
        border-radius: 500px;
        margin-top: 16px;
        text-transform: uppercase;
        font-weight: bold;
        font-size: 14px;
        line-height: 1;
        letter-spacing: 2px;
        transition-duration: .3s;
    }
    
    .doc {
        flex-wrap: wrap;
    }
    
    .btn-spotify:hover {
        cursor: pointer;
        background-color: #1ed760;
    }
    
    #footer {
        padding: 80px 0 50px;
    }
    /* .ngang {
        flex-wrap: none;
    } */
    
    dt {
        color: white;
        text-decoration: none;
        padding-top: 40px;
        padding-bottom: 5px;
        padding-left: 30px;
        padding-right: 30px;
        color: #919496;
        font-size: 12px;
        font-weight: 900;
        line-height: 1.4;
        letter-spacing: .08em;
        text-transform: uppercase;
    }
    /* dl dt:hover {
        color: #1db954;
    } */
    
    dl dd:hover {
        color: #1db954;
    }
    
    dd {
        color: white;
        text-decoration: none;
        display: block;
        padding: 15px 30px;
    }
    
    .mxh {
        justify-content: flex-end;
        margin-right: 0;
        padding-right: 0;
    }
    
    .logos {
        width: 132px;
        height: 40px;
        margin-top: 40px;
    }
    /* #policy {
        margin: 20px 0;
        margin-left: 200px;
    }
    */
    
    #policy {
        font-size: 12px;
        padding: 1em 0;
    }
    /* #policy a {
        color: #919496;
    } */
    
    a.container:hover {
        color: #1db954;
    }
    
    #lan a {
        /* color: #919496; */
        font-size: 12px;
        padding-left: 980px;
    }
    
    .vnlogo {
        padding-top: 3px;
        margin-left: 10px;
        padding-top: 5px;
        height: 18px;
    }
    
    #last {
        width: 1100px;
    }
    
    .chot {
        font-size: 12px;
        padding: 1em 0;
        color: #919496;
        text-align: right;
    }